body{
  background-color: #ff3d3d;
  background: linear-gradient(90deg, #75ffa3, #ff3d3d);
}
.morango{
  background: linear-gradient(90deg, #75ffa3, #ff3d3d);
}

.morango-conteudo{
  width: 940px;
  margin: 15px auto;

}
.morango p{
  margin: 0 0 2em;
  text-align: center;
}

.morango-conteudo2{
  width: 940;
  margin: 10px auto;
}
