body{
  background-color: #ff6666;
  background: linear-gradient(80deg, #ffffff, #ff6666);
}

.morango{
  padding: 3em 0;
  width: 940px;
  margin: 0 auto;
  background: linear-gradient(90deg, #ffffff, #ff6666);
}

.morango-conteudo{
  width: 940px;
  margin: 15px auto;
 
}

.morango p{
  margin: 0 0 2em;
  text-align: center;
}
